<div id="shop-header-wrapper">
  <header class="shop-banner">
    <img src="http://i.imgur.com/uUiQy5r.jpg">
  </header>
</div>

<br>

<div class="row">
  <div class="col-md-9">

    <header class="profile header-navigation">
		<span data-picture="img">
      <%= image_tag @user.avatar.url, class: "avatar user-avatar" %>
    </span>

      <span class="title"><%= @user.username %></span>

    </header>

    <div class="breakline_under"></div>

  </div>
  <div class="col-md-3">

    <div id="sidebar">

      <div id="widget-user-profile" class="widget">
        <ul class="list-info truncate-vals">
          <li class="user-details">
            <div class="member-info">
              <span class="title">About me</span>
              <div class="member-description">
                <%= @user.slogan %>
              </div>
            </div>
          </li>

          <li class="follow block-hover list-info-table">
            <table>
              <tbody><tr>
                <td>
                  <a href="#">
                    <strong class="num-followers">626</strong>
                    <br>
                    receiving
                  </a>
                </td>
                <td><a href="#">
                  <strong>664</strong>
                  <br>
                  giving
                </a>
                </td>
              </tr>
              </tbody></table>
          </li>

          <li>
            <dl class="list-icons">
              <dt><i class="glyphicon glyphicon-map-marker"></i> Location</dt>
              <dd>
                <%= @user.city %>
              </dd>
            </dl>
          </li>

          <li>
            <dl class="list-icons">
              <dt><i class="fa fa-desktop"></i> Website</dt>
              <dd><a href="#" target="_blank">gitcare.com</a></dd>
            </dl>
          </li>

          <li class="social-links block-hover list-info-table n2">
            <table>
              <tbody>
              <tr>
                <td>
                  <a href="#user_twitter" target="_blank" title="Twitter">
                    <i class="fa fa-twitter"></i>
                  </a>
                </td>
                <td>
                  <a href="#user_facebook" target="_blank" title="Facebook">
                    <i class="fa fa-facebook"></i>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </li>


        </ul>

      </div>

    </div>

  </div>
</div>