<section class="gtcr_almst_dn">
  <img src="http://i.imgur.com/leSRFnO.png" alt=""/>
  <p class="highlight">
    The last step is to verify your Email Address and activate your Account. <br>
  </p>
</section>


<div class="almst_dn_cntr">
  <div class="circle">
    <div class="mail-box">
      <div class="flag"></div>
    </div>
  </div>
</div>



<div class="center">
  <figure class="gtcr_almst_dn_scl">
    <div class="facebook social-link">
      <div class="facebook-container">
        <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fgitcare&amp;width&amp;layout=button&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=35&amp;appId=105229212914030" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:35px;" allowTransparency="true"></iframe>
      </div>
    </div>
    <div class="twitter social-link">
      <div class="twitter-container">
        <a href="https://twitter.com/gitcare" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @gitcare</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
    </div>
    <div class="googleplus social-link">
      <script type="text/javascript" src="https://apis.google.com/js/platform.js"></script>
      <div class="g-plusone" data-size="medium" data-annotation="none" data-href="https://plus.google.com/b/105665690876849530030/105665690876849530030"></div>
    </div>
  </figure>
  <br>
  <br>
  <small><%= link_to "Didn't receive an email confirmation ?", new_user_confirmation_path %></small>
</div>



