<div class="row">

  <div class="col-md-9">

    Hey Giannakis

  </div>

  <div class="col-md-3">

    <!-- Revenue -->
    <div class="db_revenue">
      <span>Recurring Revenue</span>
      <%= link_to '#', class: "rvn_info" do %>
        <i class="fa fa-info"></i>
      <% end %>
      <div class="rvn_dtl">54,42$</div> <small>/month</small>
    </div>

    <!-- Spendings -->
    <div class="db_spendings">
      <span>Total Spendings</span>
      <%= link_to '#', class: "spnd_info" do %>
        <i class="fa fa-info"></i>
      <% end %>
      <div class="spnd_ttl">18,20$</div> <small>/month</small>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Connections</h3>
      </div>
      <div class="panel-body">
        <%= check_connection('Twitter')%>
        <%= check_connection('Facebook')%>
      </div>
    </div>



  </div>

</div>