@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

$body-bg:                         #f0f4f5;
$font-family-sans-serif:                'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-height:                          45px;
$navbar-default-bg:               #f0f4f5;
$navbar-default-brand-color:             #2980b9;
$brand-primary: #606569;
$jumbotron-bg:                           white;

@import 'bootstrap';

body {
  background: #f5f6f7 url(http://images.apple.com/ipod/images/gradient_texture20100901.jpg) repeat-x 0 0;
}

.center {
  text-align: center;
}

.navbar-brand {
  font-weight: bold;
}

// Navbar
.navbar-default {
  background: #f5f6f7 url(http://images.apple.com/ipod/images/gradient_texture20100901.jpg) repeat-x 0 0;
}

// Here we say: On viewports 1200px or larger - set container max-width to 970px.
// This will overwrite the standard class that currently sets max-width to 1170px for that range.
@media (min-width: 1200px) {
  .container{
    max-width: 1000px;
  }
}

// Dont push Nav Bar Items so far apart
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 10px;
}

