@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

$font-family-sans-serif:          'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-height:                   45px;
$navbar-default-bg:               #f0f4f5;
$navbar-default-brand-color:      #2980b9;
$brand-primary:                   #606569;
$jumbotron-bg:                    white;
$brand-info:                      #2980b9;

@import 'bootstrap';

body {
  //background: url("http://i.imgur.com/GXeVwWj.png") repeat;
  background-color: #edeff0;
}

// BTN Override
.btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

// Input Form Focus
.form-control:focus {
  border-color: #3498db;
  box-shadow: none;
}

.center {
  text-align: center;
}

.navbar-brand {
  font-weight: bold;
}

// Alert-Info ReDesign
.alert-info {
  color: #264c72;
  border: 1px solid #a0cde7;
  border-radius: 3px;
  background-color: #d9edf7;
  background: -moz-linear-gradient(#d8ebf8, #d0e3ef);
  background: -webkit-linear-gradient(#d8ebf8, #d0e3ef);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#d8ebf8', endColorstr='#d0e3ef')";
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  text-shadow: 0 1px 0 rgba(255,255,255,0.8);
}

// Here we say: On viewports 1200px or larger - set container max-width to 1000px.
// This will overwrite the standard class that currently sets max-width to 1170px for that range.
@media (min-width: 1200px) {
  .container{
    max-width: 1000px;
  }
}

// Dont push Nav Bar Items so far apart
.nav > li > a {
  padding-right: 10px;
}


.gtcr_nav_bar {
  margin-top: 20px;
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.14);
  border-left: 1px solid #d4d4d4;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-right: 1px solid rgba(0,0,0,0.17);
  border-left: 1px solid #d4d4d4;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

