@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

$font-family-sans-serif:          'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-height:                   45px;
$navbar-default-bg:               #f0f4f5;
$navbar-default-brand-color:      #2980b9;
$brand-primary:                   #606569;
$jumbotron-bg:                    white;
$brand-info:                      #2980b9;

@import 'bootstrap';

body {
  background: url("http://i.imgur.com/GXeVwWj.png") repeat;
}

// BTN Override
.btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

// Input Form Focus
.form-control:focus {
  border-color: #3498db;
  box-shadow: none;
}

.center {
  text-align: center;
}

.navbar-brand {
  font-weight: bold;
}

// Navbar
.navbar-default {
  background: url("//viggo.zendesk.tv/assets/images/l-chrome/master-bg2.png") repeat;
}

// Here we say: On viewports 1200px or larger - set container max-width to 970px.
// This will overwrite the standard class that currently sets max-width to 1170px for that range.
@media (min-width: 1200px) {
  .container{
    max-width: 1000px;
  }
}

// Dont push Nav Bar Items so far apart
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 10px;
}

