// Verify Account
.verify_account {
  h2 {
    font-size: 16px;
  }
  .verify_hr {
    margin: 0 0 20px;
    border-color: #e0dfd9;
  }
}

// Verify Account Buttons
.btn-service {
  width: 196px;
  padding-left: 50px;
}


/*Dashboard Module 1*/
#dsbrd_mod .user_info {
  white-space: nowrap;
  height: 75px;
  padding: 13px 10px 10px 14px;
  line-height: 15px;
}

#dsbrd_mod a {
  display: block;
  float: left;
  color: #565249;
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 160px;
}

.user_info .usr_avtr {
  width: 50px;
  height: 50px;
  display: block;
  -webkit-transform: translate3d(0,0,0);
}

#dsbrd_mod img.usr_avtr {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.22),transparent 0 0 0,transparent 0 0 0;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.22),transparent 0 0 0,transparent 0 0 0;
}

/*Dashboard Module 2*/
.icon_dtls dd {
  width: 66%;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*Share Module*/
#share_mod .soc_ics {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 20px;
}

#share_mod .soc_ics a {
  display: inline-block;
  border-left: 1px solid rgba(88,86,82,.1);
  width: 40px;
  height: 100%;
  position: relative;
}

#share_mod .soc_ics .facebook i {
  margin: 8px 0 0 18px;
}

#share_mod .soc_ics .twitter i {
  margin: 6px 0 0 14px;
}

#share_mod .soc_ics .pinterest i {
  margin: 7px 0 0 11px;
}

/*Dashboard Revenue Module*/
.gtcr_rvn_mod {
  margin-bottom: 20px;
  color: #706c66;
  font-size: 12px;
  border: 1px solid #E0DEDB;
  border-radius: 3px;
  cursor: default;
  height: 91px;
  opacity: 1;
  overflow: hidden;
  -webkit-transition: height .2s,opacity .1s,margin .2s;
  -moz-transition: height .2s,opacity .1s,margin .2s;
  -ms-transition: height .2s,opacity .1s,margin .2s;
  -o-transition: height .2s,opacity .1s,margin .2s;
  transition: height .2s,opacity .1s,margin .2s;
}

.gtcr_rvn_mod:after {
  clear: both;
}

.gtcr_rvn_mod .rvn_header {
  padding-left: 10px;
  height: 30px;
  line-height: 34px;
}

.gtcr_rvn_mod .rvn_numbers {
  padding-top: 10px;
  padding-left: 10px;
  height: 100%;
  position: relative;
  border-top: 1px solid #E0DEDB;
  background: rgba(209,205,196,.32);
}

.gtcr_rvn_mod .rvn_numbers:before {
  width: 8px;
  height: 8px;
  background: #e0dedb;
  background: rgba(88,86,82,.1);
  margin-left: -4px;
  top: -4px;
}

.gtcr_rvn_mod .rvn_numbers:after {
  width: 10px;
  background: #f5f4f1;
  margin-left: -5px;
  top: -8px;
  height: 10px;
}

.gtcr_rvn_mod .rvn_numbers:before, .gtcr_rvn_mod .rvn_numbers:after {
  content: "";
  position: absolute;
  left: 25px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.gtcr_rvn_mod .rvn_numbers span {
  font-size: 25px;
  color: #27ae60;
}

/*Dashboard Patron Module*/
.gtcr_ptrn_mod {
  margin-bottom: 20px;
  color: #706c66;
  font-size: 12px;
  border: 1px solid #E0DEDB;
  border-radius: 3px;
  cursor: default;
  height: 91px;
  opacity: 1;
  overflow: hidden;
  -webkit-transition: height .2s,opacity .1s,margin .2s;
  -moz-transition: height .2s,opacity .1s,margin .2s;
  -ms-transition: height .2s,opacity .1s,margin .2s;
  -o-transition: height .2s,opacity .1s,margin .2s;
  transition: height .2s,opacity .1s,margin .2s;
}

.gtcr_ptrn_mod:after {
  clear: both;
}

.gtcr_ptrn_mod .ptrn_header {
  padding-left: 10px;
  height: 30px;
  line-height: 34px;
}

.gtcr_ptrn_mod .ptrn_numbers {
  padding-top: 10px;
  padding-left: 10px;
  height: 100%;
  position: relative;
  border-top: 1px solid #E0DEDB;
  background: rgba(209,205,196,.32);
}

.gtcr_ptrn_mod .ptrn_numbers:before {
  width: 8px;
  height: 8px;
  background: #e0dedb;
  background: rgba(88,86,82,.1);
  margin-left: -4px;
  top: -4px;
}

.gtcr_ptrn_mod .ptrn_numbers:after {
  width: 10px;
  background: #f5f4f1;
  margin-left: -5px;
  top: -8px;
  height: 10px;
}

.gtcr_ptrn_mod .ptrn_numbers:before, .gtcr_ptrn_mod .ptrn_numbers:after {
  content: "";
  position: absolute;
  left: 25px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.gtcr_ptrn_mod .ptrn_numbers span {
  font-size: 25px;
  color: #e74c3c;
}


/*Dashboard Wallet Module*/
.gtcr_wllt_mod {
  margin-bottom: 20px;
  color: #706c66;
  font-size: 12px;
  border: 1px solid #E0DEDB;
  border-radius: 3px;
  cursor: default;
  height: 91px;
  opacity: 1;
  overflow: hidden;
  -webkit-transition: height .2s,opacity .1s,margin .2s;
  -moz-transition: height .2s,opacity .1s,margin .2s;
  -ms-transition: height .2s,opacity .1s,margin .2s;
  -o-transition: height .2s,opacity .1s,margin .2s;
  transition: height .2s,opacity .1s,margin .2s;
}

.gtcr_wllt_mod:after {
  clear: both;
}

.gtcr_wllt_mod .wllt_header {
  padding-left: 10px;
  height: 30px;
  line-height: 34px;
}

.gtcr_wllt_mod .wllt_numbers {
  padding-top: 10px;
  padding-left: 10px;
  height: 100%;
  position: relative;
  border-top: 1px solid #E0DEDB;
  background: rgba(209,205,196,.32);
}

.gtcr_wllt_mod .wllt_numbers:before {
  width: 8px;
  height: 8px;
  background: #e0dedb;
  background: rgba(88,86,82,.1);
  margin-left: -4px;
  top: -4px;
}

.gtcr_wllt_mod .wllt_numbers:after {
  width: 10px;
  background: #f5f4f1;
  margin-left: -5px;
  top: -8px;
  height: 10px;
}

.gtcr_wllt_mod .wllt_numbers:before, .gtcr_wllt_mod .wllt_numbers:after {
  content: "";
  position: absolute;
  left: 25px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.gtcr_wllt_mod .wllt_numbers span {
  font-size: 25px;
  //color: #27ae60;
}

// Span 3 Profile Overview
.prf_db_ov {
  img {
    display: block;
    height: 7em;
    margin-right: auto;
    margin-left: auto;
    border: .5em solid #f2f2f2;
    border-radius: 100%;
    box-shadow:  0 1px 0 0 rgba(0,0,0,.1);
  }
  .db_ov_layer {
    margin-top: -3.5em;
    padding: 3em 1.5em 1.5em 1.5em;
    background: white;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    margin-bottom: 15px;
    .profile-name{
      margin-right: -1em;
      margin-bottom: .75em;
      margin-left: -1em;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      padding-bottom: .75em;
      font-size: 1em;
      text-transform: uppercase;
    }
    .prf_ttl {
      color: #ccc;
    }
  }
}