.gtcr_bnr {
  height: 220px;
  background: url('http://i.imgur.com/5jSh4fI.jpg') center;
  border: 1px solid;
  border-color: #d6d7da #d5d8dd #c7c8ca;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  h1 {
    font-weight: 400;
    font-size: 100px;
    line-height: 1;
    letter-spacing: -5px;
    color: white;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
  }
  h2 {
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: 100;
    line-height: 1.25;
    color: white;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
  }
}


// Home Layout
