// Profile Picture in Menu
.nav_prof_pic {
  max-height: 28px;
  max-width: 28px;
  border: none;
  padding: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.navbar-brand {
  color: #777777!important;
}