// Profile Picture in Menu
.nav_prof_pic {
  max-height: 22px;
  max-width: 22px;
  border: none;
  padding: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 5px;
}

.navbar-default {
  border: none!important;
}

.navbar-brand {
  color: #777777!important;
}

.tooltip {
  margin-top: -5px!important;
}

// Sign up Button
.nav_sign_up_btn a {
  height: 20px;
  background-color: #dfdfdf;
  box-shadow: 0 2px 0 #b9b9b9;
}