// Profile Picture in Menu
.nav_prof_pic {
  max-height: 22px;
  max-width: 22px;
  border: none;
  padding: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 5px;
}

.navbar-default {
  border: none!important;
}

.navbar-brand {
  color: #777777!important;
}

.tooltip {
  margin-top: -5px!important;
}

// Sign up Button
.nav_sign_up_btn a {
  height: 20px;
  background-color: #dfdfdf;
  box-shadow: 0 2px 0 #b9b9b9;
}

.user_info_bar {
  background-color: #f4f4f4;
  background: -webkit-linear-gradient(#f7f7f7, #ececec);
  background: linear-gradient(#f9f9f9, #f0f0f0);
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.14);
  border-left: 1px solid #d4d4d4;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-right: 1px solid rgba(0,0,0,0.17);
  border-left: 1px solid #d4d4d4;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  color: #333333;
  max-width: 100000px;
}

.user_follow {
  position: absolute;
  left: 48%;
  font-size: 18px;
}

@media (max-width: 770px) {
  .user_follow {
    font-size: 0!important;
  }
}

.menu_avatar {
  float: left;
  padding-top: 8px;
  padding-left: 8px;
  img {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  a {
    text-decoration: none;
  }
}