// Header
#shop-header-wrapper {
}

.shop-banner {
  height: 250px;
  position: relative;
  width: 970px;
  margin: 0 auto;
}

.shop-banner>img {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 970px;
  display: block;
  position: absolute;
}

// Left Side Content

.breakline_under {
  padding-top: 40px;
  border-bottom: 1px solid #e0dedb;
  border-bottom: 1px solid rgba(88,86,82,.1);
}


img.avatar.l {
  width: 75px;
}
.profile .user-avatar {
  float: left;
  margin: -48px 10px 0 0;
  margin-left: 10px;
  width: 75px;
  height: 75px;
}
img.avatar, .avatar img {
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.22),transparent 0 0 0,transparent 0 0 0;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.22),transparent 0 0 0,transparent 0 0 0;
}

.header-navigation>.title {
  float: left;
  font-size: 20px;
  margin-bottom: 0;
  white-space: nowrap;
}


// Sidebar
#sidebar .widget {
  position: relative;
  padding-bottom: 20px;
}

.list-info {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-info, .sidebar-module {
  color: #93918e;
  border: 1px solid #e0dedb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.list-info>li:first-child {
  border-top: 0 none;
}

.list-info>li {
  border-top: 1px solid #e0dedb;
  position: relative;
  margin: 0;
  padding: 8px 10px;
  font-size: 12px;
  line-height: 19px;
}

#widget-user-profile .member-info {
  padding: 6px 3px;
}

.member-info .title {
  display: block;
  line-height: 14px;
  margin-bottom: 8px;
  font-size: 14px;
  color: rgba(86,82,73,.9);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

.member-description {
  margin-bottom: 6px;
  line-height: 20px;
  padding-right: 10px;
  color: #89857e;
  width: 205px;
  word-wrap: break-word;
}

.list-info-table {
  padding: 0!important;
}

.rec, .giv {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}


.list-info-table table {
  width: 100%;
}

#widget-user-profile .follow td {
  width: 50%;
  line-height: 16px;
}
.list-info-table td {
  position: relative;
  text-align: center;
  border-right: 1px solid #e0dedb;
}

#widget-user-profile .follow td a {
  text-decoration: none;
  display: block;
  width: auto;
  height: 100%;
  padding: 12px 0;
  color: #706c66;
}

#widget-user-profile .follow td strong {
  font-size: 15px;
  line-height: 16px;
}

.list-info-table td:last-child {
  border-right: 0 none;
}

#widget-user-profile .follow td:hover {
  background-color: #e6e6e8;
}

.list-info dl.list-icons {
  padding-left: 25px;
}
.list-info dl {
  margin: 0;
  padding: 0;
  min-height: 18px;
}

.list-info dt {
  position: absolute;
  left: 0;
  right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 35px;
  font-weight: 400;
}

.list-info dl.list-icons dt i {
  font-size: 14px;
  position: absolute;
  left: 10px;
}

.list-info.truncate-vals dd {
  width: 66%;
  height: 19px;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-info dd {
  margin: 0;
  position: relative;
  float: right;
  width: 100%;
  text-align: right;
}

// SOcial
#widget-user-profile .social-links {
  line-height: 0;
}

#widget-user-profile .social-links a {
  padding: 6px 0;
}

.block-hover a {
  display: block;
}

#widget-user-profile .social-links i {
  font-size: 15px;
  color: #89857e;
}

.social-links td {
  width: 50%;
  &:hover {
    background-color: #e6e6e8;
  }
}

// Edit Cover Button on Hover
.prf_cvr_edt {
  position: absolute;
  top: 5px;
  left: 5px;
}

// Modals
.profile_modal {
  background: url('http://i.imgur.com/5jSh4fI.jpg') center center;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  h4 {
    color: white;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
  }
}