// Header
#shop-header-wrapper {
}

.shop-banner {
  height: 250px;
  position: relative;
  width: 970px;
  margin: 0 auto;
}

.shop-banner>img {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 970px;
  display: block;
  position: relative;

}

// Left Side Content

.breakline_under {
  padding-top: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e0dedb;
  border-bottom: 1px solid rgba(88,86,82,.1);
}


img.avatar.l {
  width: 75px;
}
.profile .user-avatar {
  float: left;
  margin: -48px 10px 0 0;
  margin-left: 10px;
  width: 75px;
  height: 75px;
}
img.avatar, .avatar img {
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.22),transparent 0 0 0,transparent 0 0 0;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.22),transparent 0 0 0,transparent 0 0 0;
}

.header-navigation>.title {
  float: left;
  font-size: 20px;
  margin-bottom: 0;
  white-space: nowrap;
}

// Edit Cover Button on Hover
.prf_cvr_edt {
  position: absolute;
  top: 5px;
  left: 5px;
}

// Modals
.profile_modal {
  background: url('http://i.imgur.com/5jSh4fI.jpg') center center;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  h4 {
    color: white;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
  }
}

/*Profile Module*/
#prfl_mod .usr_prfl .usr_slogan {
  font-size: 12px;
  margin-bottom: 6px;
  line-height: 20px;
  color: #89857e;
  word-wrap: break-word;
}

#prfl_mod .usr_prfl .usr_username {
  display: block;
  line-height: 14px;
  margin-bottom: 8px;
  font-size: 14px;
  color: rgba(86,82,73,0.9);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

#prfl_mod dt {
  position: absolute;
  left: 0;
  right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 32px;
  font-weight: 400;
}

#prfl_mod .user_slogan_div {
  padding: 6px 3px;
}

.prf_rvn .prf_rvn_numbers {
  font-size: 30px;
  padding: 10px 0 10px 0;
}

.prf_spnd .prf_spnd_numbers {
  font-size: 20px;
  padding: 10px 0 10px 0;
}

.gtcr_prf_social {
  line-height: 0;
  width: 100%;
  padding: 0!important;
}

.gtcr_prf_social table {
  width: 100%;
}

.gtcr_prf_social td {
  position: relative;
  text-align: center;
  border-right: 1px solid #e0dedb;
}

.gtcr_prf_social td:last-child {
  border-right: none;
}

.gtcr_prf_social a {
  padding: 6px 0;
  display: block;
}

.gtcr_prf_social i {
  font-size: 18px;
}

.icon_dtls dd {
  width: 66%;
  height: 19px;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon_dtls i {
  font-size: 14px;
  position: absolute;
  left: 10px;
}




// Patron Modus
.prf_ptrn_mds {
  border: 1px solid #e0dedb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 7px 5px 7px;
  color: #89857e
}

