<p>Welcome to gitcare <%= @user.first_name %> <%= @user.last_name%>!</p>

<p>We need to check if your email is set up correctly so we dont run in to problems when it's already to late.</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, class: "btn btn-custom", :confirmation_token => @token) %></p>
